<div th:replace="~{shared/fragments/table-component :: smart-table(
    title='Gestión de Usuarios',
    count=${usersCount},
    filters=~{::#userFilters},
    actions=~{::#userActions},
    thead=~{::#userHeader},
    tbody=~{private/users/fragments/users-table-rows :: rows},
    customClass='users-table'
)}">

    <th:block id="userFilters">
        <div class="filter-item">
            <span class="filter-label">Estado</span>
            <select id="filter-user-status" class="filter-input" name="userStatus" required>
                <option value="">Todos los estados</option>
                <option th:each="us : ${userStatus}"
                        th:value="${us.name()}"
                        th:text="${us.displayName}"></option>
            </select>
        </div>
        <div class="filter-item">
            <span class="filter-label">Busqueda</span>
            <input id="filter-q" class="filter-input" type="text"
                        placeholder="Buscar usuario o email..."/>
        </div>
        <button class="btn btn-primary" id="searchUserBtn">
        Buscar
        </button>
    </th:block>

    <th:block id="userActions">
        <button class="btn btn-primary" id="inviteUserBtn"
            th:if="${#authorization.expression('hasRole(''ADMINISTRATOR'')')}">
        Invitar Usuario
        </button>
        <button class="btn btn-primary" id="addUserBtn"
            th:if="${#authorization.expression('hasRole(''ADMINISTRATOR'')')}">
        Crear Usuario
        </button>
    </th:block>

    <tr id="userHeader">
        <th>ID</th>
        <th>Username</th>
        <th>Mail</th>
        <th>Status</th>
        <th>Active</th>
        <th>Actions</th>
    </tr>

</div>

<script type="module" src="/js/private/admin/users/users-table.js"></script>