@use 'typography' as *;
@use 'palette' as *;
@use 'variables' as *;
@use 'mixins' as *;

@mixin form-group-fields (){

        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        label {
            @include roboto-font(0.875rem, 500);
            color: $cool-gray-700;
            padding-left: 0.65rem;
        }
        .form-value{
            padding: 0.5rem 0.65rem ;
            border: 0.09rem solid #ced4da;
            border-radius: 0.5rem;
            @include roboto-font(0.875rem, 500);
            color: $cool-gray-800;
        }
        .tag-container {
            display: flex;
            flex-wrap: wrap; // Permite que los tags pasen a la siguiente línea si no caben
            gap: 0.5rem;     // Espacio controlado entre tags (horizontal y vertical)
            margin-top: 0.25rem;
            .tag {
                display: inline-flex;
                align-items: center;
                background-color: $cool-gray-50; // Gris claro elegante y neutral
                color: $slate-500;            // Texto gris oscuro legible
                padding: 0.3rem 0.75rem;
                @include roboto-font(0.8rem, 500);
                text-transform: uppercase; // Mantiene consistencia visual si vienen en minúsculas
                border-radius: 9999px;     // Estilo píldora (completamente redondeado)
                border: 1px solid $slate-300; // Un borde sutil para darle definición
                transition: background-color 0.2s ease;
                &:hover {
                    background-color: $slate-300; // Feedback visual sutil al pasar el mouse
                }
            }
        }
        input,
        select,
        span {
            padding: 0.55rem;
            border: 0.09rem solid #ced4da;
            border-radius: 0.5rem;
            @include roboto-font(0.875rem, 500);
            color: $cool-gray-800;
            transition: border-color 0.2s, box-shadow 0.2s;
            box-sizing: border-box;
            width: 100%;
            max-width: 100%;
            &::placeholder {
                color: #adb5bd;
            }
            &:focus {
                border-color: #4e54c8;
                box-shadow: 0 0 0 3px rgba(78, 84, 200, 0.2);
                outline: none;
            }
        }
        select {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        textarea {
            resize: vertical;
            @include roboto-font(0.875rem, 500);
            color: $cool-gray-800;
            min-height: 80px;
        }

}