@use 'variables' as * ;
@use 'mixins' as * ;
@use 'palette' as * ;

body {
  @include roboto-font($base-font-size, 400);
  color: $text-color;
  line-height: 1.5;
}

h1, h2, h3, h4 {
  line-height: 1.2;
  color: $heading-color;
}

h1 { @include montserrat-font(2.5rem, 600); }
h2 { @include montserrat-font(2rem, 600);
      margin: 0 0 1rem 0;
}
h3 { @include montserrat-font(1.5rem, 600); }
h4 { @include montserrat-font(1.25rem, 600); }


@media (max-width: 992px) {
    h1 { font-size: 1.8rem; }
    h2 { font-size: 1.5rem; }
    h3 { font-size: 1.2rem; }
    h4 { font-size: 1.05rem; }
}


p {
  @include roboto-font(1rem, 400);
  color: $text-color;
  line-height: 1.5;
  margin-bottom: 0.25rem;
}

.p1 {
  @include roboto-font(1.1rem, 400);
  color: $text-color;
  line-height: 1.55;
  margin-bottom: 0.5rem;
}

.p2 {
  @include roboto-font(1.15rem, 400);
  color: $text-color;
  line-height: 1.6;
  margin: 0 0 1rem 0;
}

.p3 {
  @include roboto-font(1.25rem, 400);
  color: $text-color;
  line-height: 1.65;
  margin-bottom: 1.5rem;
}
