@use '../base/mixins' as *;
@use '../base/variables' as *;
@use '../base/palette' as *;
@use '../base/typography' as *;

.hs-form{

    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4x 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .create-patrol-header {
        display: flex;
        

    }

}

