<section th:fragment="attendanceButton" class="attendance-card">
    <header class="attendance-card__header">
        <h3 class="attendance-card__title">Marcación de Asistencia</h3>
    </header>

    <th:block class="attendance-status">
        <div th:replace="~{shared/fragments/form-alerts :: form-alerts}"></div>
    </th:block>

    <div class="attendance-map">
        <h3>Ubicación</h3>
        <div class="content" id="map"></div>
    </div>

    <th-block th:replace="~{shared/fragments/action-buttons :: action-buttons(
        '/api/attendance/punch',
        true,
        'Marcar Entrada',
        true,
        'Marcar Salida')}">
    </th-block>

    <script type="module" src="/js/private/attendance/attendance.js" defer></script>
</section>