<div th:fragment="licitationsTable">
    <h2>Licitaciones Mercado Publico</h2>

    <form th:action="@{/private/mp-licitations/sync}" method="post" style="margin-bottom:1rem;">
    <input type="hidden"/>
    <button type="submit" class="btn-sync">Actualizar</button>
    </form>    

    <div class="licitations-table-container">
        <table class="licitation-table">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Publish date</th>
                    <th>Close date</th>
                    <th>Buyer name</th>
                    <th>Buyer code</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="licitation : ${licitations}">
                    <td th:text="${licitation.externalCode}"></td>
                    <td th:text="${licitation.name}"></td>
                    <td th:text="${licitation.status}"></td>
                    <td th:text="${licitation.publishDate}"></td>
                    <td th:text="${licitation.closeDate}"></td>
                    <td th:text="${licitation.buyerName}"></td>
                    <td th:text="${licitation.buyerCode}"></td>
                    <td class="actions">
                        <a>Ver</a>
                        <a>Editar</a>
                        <button>Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>