<section th:fragment="content" class="detail-section">
  <h2>Clientes</h2>

  <p><strong>ID:</strong> <span th:text="${client.id}"></span></p>
  <p><strong>Username:</strong> <span th:text="${client.name}"></span></p>
  <p><strong>Razón social:</strong> <span th:text="${client.legalName}"></span></p>
  <p><strong>RUT:</strong> <span th:text="${client.taxId}"></span></p>
  <p><strong>Email:</strong> <span th:text="${client.contactEmail}"></span></p>
  <p><strong>Telefono:</strong> <span th:text="${client.contactPhone}"></span></p>
  <p><strong>Estado:</strong> <span th:text="${client.active}"></span></p>

  <div class="users-block">
    <strong>Usuarios:</strong>
    <span th:each="c : ${client.users}" th:text="${c.username}" class="tag"></span>
    <em th:if="${#lists.isEmpty(client.users)}">Sin usuarios</em>
  </div>

  <div class="actions">
    <a class="vs-btn vs-secondary"
        href="#" data-path="/private/clients/table-view">
          Volver al listado</a>

    <button type="button" class="vs-btn vs-danger"
        id="deleteUserBtn" th:attr="data-id=${client.id}">
          Eliminar usuario</button>
  </div>

  <script type="module" src="/js/private/admin/users/edit-client.js"></script>

</section>