@use '../base/mixins' as *;
@use '../base/variables' as *;
@use '../base/palette' as *;
@use '../base/typography' as *;
@use '../base/fragment-mixins' as *;

.sustainability-image{
  @include parcial-image (
    $height: 80vh,
    $width: 100vw);
}

.text-container-big {
    @include text-container-big ();
    h1 {
      margin: 0 0 1.5rem 0;
    }
}

.text-video-left {
  @include text-video (
  $height: auto,
  $max-height: none,
  $text-width: 50%,
  $video-width: 50%,
  $orden-text: 2,
  $order-video: 1,
  $title-content: 0
  )
}

.ethics-code {
  @include text-image(
  $bg-color: none,
  $height: auto,
  $max-height: none,
  $text-width: 40%,
  $image-width: 60%,
  $text-color: $text-color,
  $padding-image: 3rem,
  $border-radius: 10px,
  $orden-text: 1,
  $order-image: 2);
}

