<div th:replace="~{shared/fragments/table-component :: smart-table(
    title='Planificación de cobertura',
    count=${count},
    filters=~{::#shiftAssignmentsFilters},
    actions=~{::#shiftAssignmentsActions},
    thead=~{::#shiftAssignmentsHeader},
    tbody=~{private/operations/shift-assignments/fragments/shift-assignment-list-rows :: rows},
    customClass='shift-assignments-list'
)}">

    <th:block class="count" th:if="${shiftAssignmentsCount != null}"
        th:text="${shiftAssignmentsCount + ' registro' + (shiftAssignmentsCount == 1 ? '' : 's')}"
        aria-live="polite" aria-atomic="true">
    </th:block>

    <th:block id="shiftAssignmentsFilters">

        <div class="filter-item">
            <span class="filter-label">Sitios</span>
            <select id="filter-dept" class="filter-input" name="siteId" required>
                <option value="">Todos los sitios</option>
                <option th:each="s : ${sites}"
                        th:value="${s.id}"
                        th:text="${s.name}"></option>
            </select>
        </div>

        <div class="filter-item item-action">
            <button class="btn btn-primary" id="searchshiftAssignmentsBtn">
            Buscar
            </button>
        </div>
    </th:block>

    <th:block id="shiftAssignmentsActions">
        <button class="btn btn-primary" id="addShiftAssignmentsBtn"
        th:if="${#authorization.expression('hasRole(''ADMINISTRATOR'') or hasRole(''ANALYST'')')}">
        Crear registro
        </button>
    </th:block>

    <tr id="shiftAssignmentsHeader">
        <th>Sitio</th>
        <th>Turno</th>
        <th>Empleado</th>
        <th>Estado</th>
        <th>Actions</th>
    </tr>
</div>

<script type="module" src="/js/private/operations/shift-assignments/shift-assignments-list.js"></script>