<section th:fragment="content">
    <script th:inline="javascript">
        // Se ejecuta inmediatamente cuando el fragmento entra al DOM
        window.targetSiteId = /*[[${targetSiteId}]]*/ 0 ;
        console.log("[Fragment] Cargando mapa para el sitio:", window.targetSiteId);
    </script>

  <div id="patrols-map-section">

    <h3>Definir Checkpoints</h3>

    <div id="patrols-map-picker"></div>

  </div>

  <script type="module" src="/js/private/patrols/patrol-map-picker.js"></script>

</section>