<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                    th:fragment="layout(auth)">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GSCorp</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/signin.css}">
    <link rel="stylesheet" th:href="@{/css/signup.css}">
    <link rel="stylesheet" th:href="@{/css/define-password.css}">
    <link rel="stylesheet" th:href="@{/css/invalid-token.css}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body data-layout="auth">

    <section id="content" class="content">
        <div th:replace="~{__${auth}__}"></div>
    </section>

    <script type="module" src="/js/init-router.js"></script>
    <script type="module" src="/js/router.js"></script>

</body>
</html>