<th:block th:fragment="tabFinanciero">
    <div class="panel-tab">

        <div class="panel-tab-column">

            <div class="form-row">
                <div class="form-group">
                    <label>Método de pago</label>
                    <select id="employeePaymentMethod" name="paymentMethod" required>
                    <option value="">Seleccione método de pago</option>
                    <option th:each="p : ${paymentMethods}"
                            th:value="${p}"
                            th:text="${p.displayName}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Banco</label>
                    <select id="employeeBank" name="bankId" required>
                    <option value="">Seleccione banco</option>
                    <option th:each="b : ${banks}"
                            th:value="${b.id}"
                            th:text="${b.name}"></option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label>Tipo de cuenta</label>
                    <select id="employeeBankAccountType" name="bankAccountType" required>
                    <option value="">Seleccione tipo de cuenta bancaria</option>
                    <option th:each="p : ${bankAccountTypes}"
                            th:value="${p}"
                            th:text="${p.displayName}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label>N° Cuenta:</label>
                    <input type="text" id="employeeBankAccountNumber" name="bankAccountNumber" th:value="${employee.bankAccountNumber}" placeholder="Número de cuenta bancaria" />
                </div>
            </div>

        </div>

        <div class="panel-tab-column">
            <div class="form-row">
                <div class="form-group">
                    <label>Sistema previsional</label>
                    <select id="employeePrevitionalSystem" name="previtionalSystem" required>
                    <option value="">Seleccione sistema previsional</option>
                    <option th:each="p : ${previtionalSystems}"
                            th:value="${p}"
                            th:text="${p.displayName}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Entidad de pensión</label>
                    <select id="employeePensionEntity" name="pensionEntity" required>
                    <option value="">Seleccione entidad de pensión</option>
                    <option th:each="p : ${pensionEntities}"
                            th:value="${p}"
                            th:text="${p.displayName}"></option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label>Sistema de salud</label>
                    <select id="employeeHealthSystem" name="healthSystem" required>
                    <option value="">Seleccione sistema de salud</option>
                    <option th:each="h : ${healthSystems}"
                            th:selected="${employee.healthSystem == h}"
                            th:value="${h}"
                            th:text="${h.displayName}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Entidad de salud</label>
                    <select id="employeeHealthEntity" name="healthEntity" required>
                    <option value="">Seleccione entidad de salud</option>
                    <option th:each="h : ${healthEntities}"
                            th:value="${h}"
                            th:text="${h.displayName}"></option>
                    </select>
                </div>
            </div>
        </div>

    </div>
</th:block>