<th:block th:fragment="tabLaboral">
        <div class="panel-tab">

            <div class="panel-tab-column">
                <div class="form-row">
                    <div class="form-group">
                        <label>Empresa:</label>
                        <span th:text="${employee.company}"></span>
                    </div>
                    <div class="form-group">
                        <label>Cargo: </label>
                        <select id="employeePosition" name="positionId" required>
                        <option value="">Seleccione cargo</option>
                        <option th:each="p : ${positions}"
                                th:selected="${employee.positionId == p.id}"
                                th:value="${p.id}"
                                th:text="${p.name}"></option>
                        </select>
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label>Estado:</label>
                        <span th:text="${employee.status.displayName}"></span>
                    </div>
                    <div class="form-group">
                        <label>Fecha de Inicio:</label>
                        <input type="date" id="employeeHireDate" name="hireDate" th:value="${employee.hireDate}" placeholder="Fecha de contratación" readonly/>
                    </div>
                    <div class="form-group" th:if="${employee.exitDate != null}">
                        <label>Fecha de Termino:</label>
                        <input type="date" id="employeeExitDate" name="exitDate" th:value="${employee.exitDate}" placeholder="Fecha de salida" readonly/>
                    </div>
                </div>
                <div class="form-row">

                    <div class="form-group">
                        <label for="employeeContractType">Tipo de contrato</label>
                        <select id="employeeContractType" name="contractType" required>
                        <option value="">Seleccione tipo de contrato</option>
                        <option th:each="c : ${contractTypes}"
                                th:selected="${employee.contractType == c}"
                                th:value="${c}"
                                th:text="${c.displayName}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="employeeProjects">Proyectos asociados</label>
                        <select id="employeeProjects" name="projectIds" multiple aria-readonly="true">
                        <option th:each="p : ${projects}" 
                                th:selected="${employeeProjects != && employeeProjects.![id].contains(p.id)}" 
                                th:value="${p.id}" 
                                th:text="${p.name}"></option>
                        </select>
                    </div>

                </div>
            </div>

            <div class="panel-tab-column">
                <div class="form-row">

                    <div class="form-group">
                        <label for="employeeWorkSchedule">Tipo de jornada semanal</label>
                        <select id="employeeWorkSchedule" name="workSchedule" required>
                        <option value="">Seleccione tipo de jornada semanal</option>
                        <option th:each="w : ${workSchedules}"
                                th:selected="${employee.workSchedule == w}"
                                th:value="${w}"
                                th:text="${w.displayName}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="employeeShiftSystem">Sistema de turnos</label>
                        <select id="employeeShiftSystem" name="shiftSystem" required>
                        <option value="">Seleccione sistema de turnos</option>
                        <option th:each="s : ${shiftSystems}"
                                th:selected="${employee.shiftSystem == s}"
                                th:value="${s}"
                                th:text="${s.displayName}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="employeeShiftPattern">Patrón de turnos</label>
                        <select id="employeeShiftPattern" name="shiftPatternId" required>
                        <option value="">Seleccione patrón de turnos</option>
                        <option th:each="p : ${shiftPatterns}"
                                th:selected="${employee.shiftPatternId == p.id}"
                                th:value="${p.id}"
                                th:text="${p.name}"></option>
                        </select>
                    </div>

                </div>

                <div class="form-group">
                    <label for="employeeProfessions">Profesiones asociadas</label>
                    <select id="employeeProfessions" name="professionIds" multiple>
                    <option th:each="p : ${professions}" 
                            th:selected="${professionIds.contains(p.id)}" 
                            th:value="${p.id}" 
                            th:text="${p.name}"></option>
                    </select>
                </div>

            </div>

    </div>
</th:block>