<th:block th:fragment="tabPersonal">
    <div class="panel-tab">

        <div class="panel-tab-column">
            <div class="form-group">
                <label>Nombre:</label>
                <span th:text="${employee.name}"></span>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label>Apellido Paterno:</label>
                    <span th:text="${employee.fatherSurname}"></span>
                </div>
                <div class="form-group">
                    <label>Apellido Materno:</label>
                    <span th:text="${employee.motherSurname}"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label>Rut:</label>
                    <span th:text="${employee.rut}"></span>
                </div>
                <div class="form-group">
                    <label>Fecha de Nac.:</label>
                    <span th:text="${employee.birthDate}"></span>
                </div>
                <div class="form-group">
                    <label>Nacionalidad:</label>
                    <span th:text="${employee.nationality}"></span>
                </div>
            </div>
        </div>

        <div class="panel-tab-column">
            <div class="form-group">
                <label>Dirección:</label>
                <span th:text="${employee.address}"></span>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label>Estado Civil:</label>
                    <span th:text="${employee.maritalStatus}"></span>
                </div>
                <div class="form-group">
                    <label>Género:</label>
                    <span th:text="${employee.gender.displayName}"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label>Nivel de Estudio:</label>
                    <span th:text="${employee.studyLevel}"></span>
                </div>
                <div class="form-group">
                    <label>Profesiones:</label>
                    <span th:each="ep : ${employeeProfessions}"
                            class="badge"   
                            th:text="${ep.name}">
                    </span>
                </div>
            </div>
        </div>

    </div>
</th:block>