<th:block th:fragment="tabLaboral">
    <div class="dual-panel-tab">
        <div class="panel-main">
            <div class="form-group">
                <label>Cargo:</label>
                <input th:value="${employee.position}" readonly>
            </div>
            <div class="form-group">
                <label>Tipo de Contrato:</label>
                <input th:value="${employee.contractType}" readonly>
            </div>
            <div class="form-group">
                <label>Horario:</label>
                <input th:value="${employee.workSchedule}" readonly>
            </div>
            <div class="form-group">
                <label>Sistema de Turno:</label>
                <input th:value="${employee.shiftSystem}" readonly>
            </div>
            <div class="form-group">
                <label>Patron de turno:</label>
                <input th:value="${employee.shiftPattern}" readonly>
            </div>
        </div>
        <div class="panel-aside">

            <div class="form-group">
                <div class="form-group">
                    <label>Fecha de Contratación:</label>
                    <input th:value="${employee.hireDate}" readonly>
                </div>
                <label>Proyectos Asignados</label>
                <div class="badge-container">
                    <span th:each="ep : ${employeeProjects}"
                            class="badge"
                            th:text="${ep.name}">
                    </span>
                </div>
            </div>

        </div>

    </div>
</th:block>