@use '../../abstracts/panel-cards' as *;
@use '../../abstracts/alerts' as *;
@use '../../abstracts/buttons/footer-buttons' as *;
@use '../../abstracts/buttons/btn-mixins' as *;
@use '../../abstracts/palette' as *;
@use '../../abstracts/typography' as *;
@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;
@use '../../abstracts/card-forms' as *;
@use '../../abstracts/panels/panel-main' as *;

.private-layout {
    .main-content{
        .content{
            .create-employee-termination-request{
                @include dual-panel-card();
                .panel-container{
                    .panel-main{
                        @include panel-main();
                    }
                    .panel-aside{
                        align-items: stretch;
                        justify-content: flex-start;
                        gap: 2rem;
                        @include panel-main();
                        .file-upload-container{
                            display: flex;
                            flex-direction: column;
                            height: 100%;
                            gap: 1rem;
                        }
                    }
                }
                .alert-container {
                    @include alert-container();
                }
                .footer-actions {
                    @include footer();
                }
            }
        }
    }
}
