<div th:replace="~{shared/fragments/table-component :: smart-table(
        title='Tipos de documentos de RRHH',
        count=${count},
        filters=~{::#hrDocumentTypesFilters},
        actions=~{::#hrDocumentTypesActions},
        thead=~{::#hrDocumentTypesHeader},
        tbody=~{private/configuration/hr-document-types/fragments/hr-document-types-rows :: rows},
        customClass='hr-document-types-list'
    )}">

        <th:block id="hrDocumentTypesFilters">
            <div class="filter-item">
                <span class="filter-label">Estado empleado</span>
                <select id="filter-employee-status" class="filter-input">
                    <option value="">Todos los estados</option>
                    <option th:each="es : ${employeeStatuses}"
                            th:value="${es}"
                            th:text="${es.displayName}"
                            th:selected="${es == currentStatus}"></option>
                </select>
            </div>

            <div class="filter-item">
                <span class="filter-label">Proceso</span>
                <select id="filter-hr-process" class="filter-input">
                    <option value="">Todos los procesos</option>
                    <option th:each="hpt : ${hrProcessTypes}"
                            th:value="${hpt}"
                            th:text="${hpt.displayName}"
                            th:selected="${hpt == currentProcess}"></option>
                </select>
            </div>

            <div class="filter-item item-action">
                <button class="btn btn-primary" id="searchHrDocumentTypesBtn">
                Buscar
                </button>
            </div>
        </th:block>

        <th:block id="hrDocumentTypesActions">
            <button class="btn btn-primary" id="addHrDocumentTypes"
                th:if="${#authorization.expression('hasRole(''ADMINISTRATOR'')')}">
            Crear tipo de documento
            </button>
        </th:block>

        <tr id="hrDocumentTypesHeader">
            <th>Name</th>
            <th>Status</th>
            <th>Process</th>
            <th>Actions</th>
        </tr>

</div>

<script type="module" src="/js/private/configuration/hr-document-types/hr-document-types-list.js"></script>