<div th:replace="~{shared/fragments/table-component :: smart-table(
    title='Registros de asistencia',
    count=${attendanceCount},
    filters=~{::#punchFilters},
    actions=~{::#punchActions},
    thead=~{::#punchHeader},
    tbody=~{private/attendance/fragments/attendance-table-rows :: rows}
)}">

    <th:block id="punchFilters">

        <div class="filter-item">
            <span class="filter-label">Sitios</span>
            <select id="filter-dept" class="filter-input" name="siteId" required>
                <option value="">Todos los sitios</option>
                <option th:each="s : ${sites}"
                        th:value="${s.id}"
                        th:text="${s.name}"></option>
            </select>
        </div>

        <div class="filter-item">
            <span class="filter-label">Nombre</span>
            <input id="filter-name" class="filter-input" type="text"
                        placeholder="Buscar sitio..."/>
        </div>
    </th:block>

    <th:block id="punchActions">
        <button class="btn btn-secondary" id="exportCsv">
        Exportar CSV
        </button>
        
        <button class="btn btn-primary" id="addSiteBtn">
        Nuevo Sitio
        </button>
    </th:block>

    <tr id="punchHeader">
        <th>Fecha</th>
        <th>Instalación</th>
        <th>Funcionario</th>
        <th>Proyecto</th>
        <th>Zona horaria</th>
        <th>Estado</th>
        <th>acciones</th>
    </tr>

</div>

<script type="module" src="/js/private/sites/sites-table.js"></script>