@use '../base/mixins' as *;
@use '../base/btn-mixins' as *;
@use '../base/typography' as *;
@use '../base/palette' as *;

@mixin footer (){
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 15px;
    background: #f8f9fa;
    border-top: 1px solid #e9ecef;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

    .btn {
        @include roboto-font(0.875rem, 500);
        &.btn-primary {
         @include btn-primary-variant (
                $bg-color: $accent-blue,
                $color: #fff,
                $padding: 0.75rem 1.5rem,
                $border-radius: 0.5rem
            );
        }
        &.btn-secondary {
         @include btn-primary-variant (
                $bg-color: $slate-200,
                $color: #fff,
                $padding: 0.75rem 1.5rem,
                $border-radius: 0.5rem
            );
        }
        &.btn-danger {
         @include btn-primary-variant (
                $bg-color: $accent-red,
                $color: #fff,
                $padding: 0.75rem 1.5rem,
                $border-radius: 0.5rem
            );
        }
    }
}