@use '../base/btn-mixins' as *;

@mixin mega-menu-contact(){
.contact-mega-content {
  display: flex;
  gap: 4rem;
  align-items: center;

  .contact-image {
    height: 30vh;
    flex: 1;
    img {
      width: 100%;
      height: 100%;
      border-radius: 0.5rem;
      
    }
  }

  .contact-info {
    flex: 1;
    .menu-title {
      margin-bottom: 0.5rem;
    }
    p {
      font-size: 0.95rem;
      margin-bottom: 2rem;
    }
    .btn-contact {
      @include btn-blue-shadow ();
    }
  }
}

}