<div th:fragment="sidebar">
    <div id="logo-container" class="logo-container">
        <img id="logo" class="logo" th:src="@{/img/logo-sin-nombre.png}" alt="Logo" />
    </div>

    <nav class="menu">

        <a class="menu-item" href="#"
                data-path="/private/analyst/dashboard">Inicio</a>

        <details class="menu-group">
            <summary class="menu-item">Gestión</summary>
            <div class="submenu">
                <a class="submenu-item" href="#"
                    data-path="/private/shift-requests/table-view">Requerimientos</a>
                <a class="submenu-item" href="#"
                    data-path="/private/attendance/table-view">Asistencia</a>
                <a class="submenu-item" href="#"
                    data-path="/private/site-supervision-visits/table-view">Supervisión de instalaciones</a>
                <a class="submenu-item" href="#"
                    data-path="/private/forecast/table-view">Forecast</a>
                <a class="submenu-item" href="#"
                    data-path="/private/incidents/table-view">Incidentes</a>
                <a class="submenu-item"  href="#"
                    data-path="/private/sites/table-view">Lista de sitios</a>
                <a class="submenu-item"  href="#"
                    data-path="/private/sites/sites-map">Sitios</a>
                <a class="submenu-item"  href="#"
                    data-path="/private/patrols/table-view">Rondas de supervisión</a>

            </div>
        </details>

        <details class="menu-group">
            <summary class="menu-item">Recursos humanos</summary>
            <div class="submenu">
                <a class="submenu-item" href="#"
                    data-path="/private/employees/table-view">Colaboradores</a>
                <a class="submenu-item" href="#"
                    data-path="/private/employees/Licences">Licencias</a>
                <a class="submenu-item" href="#"
                    data-path="/private/employees/vacations">Feriado legal</a>
            </div>
        </details>

        <details class="menu-group">
            <summary class="menu-item">Gestión Comercial</summary>
            <div class="submenu">
                <a class="submenu-item" href="#"
                    data-path="/private/admin/contacts">Contactos</a>
                <a class="submenu-item" href="#"
                    data-path="/private/admin/mp-licitations">Licitaciones MP</a>
            </div>
        </details>


        <a class="menu-item" href="#"
                    data-path="/public/home">GSCorp</a>
    </nav>
    <button class="toggle-sidebar" id="toggleSidebar">☰</button>
</div>

<div th:fragment="topbar">

    <h1 class="title">Analista</h1>

</div>