<div class="view-shift-pattern">

    <div class="hs-form-header">
      <h4>Ver cistemas de jornada</h4>
    </div>

    <div class="body">
      <div class="form-row w-custom">
        <div class="form-group fx-7">
          <label>Nombre del patrón:</label>
          <span th:text="${shiftPattern.name}"></span>
        </div>
        <div class="form-group fx-3">
          <label>Código:</label>
          <span th:text="${shiftPattern.code}"></span>
        </div>
      </div>

      <div class="form-group">
        <label>Descripción:</label>
        <span th:text="${shiftPattern.description}"></span>
      </div>

      <div class="form-row w-custom">
        <div class="form-group fx-5">
          <label>Días de trabajo:</label>
          <span th:text="${shiftPattern.workDays}"></span>
        </div>
        <div class="form-group fx-5">
          <label>Días de descanso:</label>
          <span th:text="${shiftPattern.restDays}"></span>
        </div>
      </div>
    </div>

    <div th:replace="~{shared/fragments/form-alerts :: form-alerts}"></div>

    <div th:replace="~{shared/fragments/footer-buttons ::
                          footer-buttons(
                                  false, '',
                                  true, 'Volver',
                                  false, '')}">
    </div>

    <script type="module" src="/js/private/configuration/shift-patterns/view-shift-pattern.js"></script>

</div>