    <!-- Users - Usuarios conectados, empleados -->
    <svg th:fragment="users" class="stat-card__icon" 
        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"
            d="M12 4.354a4 4 0 110 8.048M12 4.354L8.646 7.646m0 0l-3.293-3.293a1 1 0 00-1.414 1.414L7.232 9.06m0 0l3.293 3.293m0-8.586l3.646 3.646m0 0l3.293-3.293a1 1 0 111.414 1.414L16.768 9.06" />
    </svg>