<section th:fragment="content">
  <input type="hidden" id="siteId" th:value="${site.id}" />

  <div class="dual-panel-card">

    <div class="panel-main">
      <div class="panel-header">
        <h3>Ver Sitio</h3>
      </div>
      <div id="panel-body" class="panel-body">
        <div class="form-group">
          <label>Proyecto</label>
          <span class="form-value"
            th:text="${site.project != null ? site.project.name : '—'}"></span>
          <input type="hidden" name="projectId"
            th:value="${site.project != null ? site.project.id : ''}" />
        </div>
        <hr class="form-separator" />
        <div class="form-group">
            <label>Nombre</label>
            <span class="form-value"
                            th:text="${site.name}"></span>
        </div>
        <div class="form-group">
            <label>Dirección</label>
            <span class="form-value" th:text="${site.address}"></span>
        </div>
        <div class="form-row">

        <div class="form-group">
            <label>Latitud</label>
            <span class="form-value" th:text="${site.lat}"></span>
        </div>

        <div class="form-group">
            <label>Longitud</label>
            <span class="form-value" th:text="${site.lon}"></span>
        </div>

        </div>
        <div class="form-group">
            <label>Zona horaria</label>
            <span class="form-value" th:text="${site.timeZone}"></span>
        </div>
        <div class="form-group">
            <label>Activo</label>
            <span class="form-value" th:text="${site.active}"></span>
        </div>
      </div>
    </div>

    <div class="panel-aside">
      <div class="panel-aside-content">
        <h3>Ubicación</h3>
        <div id="view-map"></div>
      </div>
    </div>

  </div>

  <div th:replace="~{shared/fragments/form-alerts :: form-alerts}"></div>
  <div th:replace="~{shared/fragments/footer-buttons ::
                        footer-buttons( showSubmit=false,
                                        showCancel=true,
                                        showDelete=false,
                                        cancelText='Volver')}"></div>

  <script type="module" src="/js/private/sites/view-site.js"></script>

</section>