<div class="create-employee">

    <div class="create-employee-header">
        <div class="create-header-foto" id="employeePhoto">
            <img src="/img/default-avatar.png" 
                alt="Previsualización de foto" id="employeePhotoPreview">
            
            <input type="file" id="employeePhotoInput" name="photoFile" accept="image/*" style="display: none;" />
            
            <button type="button" class="btn-change-photo" id="changePhotoBtn">Subir foto</button>
        </div>

        <div class="create-header-text">
            <div class="create-header-text-title">
                <h3>Nueva Ficha de Contratación</h3>
            </div>
            <div class="create-header-text-info">
                <span id="headerDynamicName" class="text-muted">Ficha nueva: Sin registrar</span>
                <span id="headerDynamicPosition">Asigne un cargo en la pestaña Laboral</span>
                <span>Complete los campos requeridos en cada pestaña</span>
            </div>
        </div>

        <div th:replace="~{shared/fragments/buttons :: genericButtons(
            true, 'Guardar',
            true, 'Cancelar',
            false, ''
            )}">
        </div>
    </div>

    <div th:replace="~{shared/fragments/form-alerts :: form-alerts}"></div>

    <div th:replace="~{shared/fragments/panels/tab-panel-card :: tabPanelCard(
        title='Empleado',
        tabs=${employeeTabs},
        customClass='employee-tabs'
        )}">
    </div>

</div>

<script type="module" src="/js/private/employees/create-employee.js"></script>