:root {
  --topbar-height: 54px;              /* Altura del topbar */
  --sidebar-width: 240px;             /* Ancho del sidebar */
  --actions-width: 200px;             /* Ancho de las acciones flotantes */
}

#site-map-section {
  display: flex;
  flex-direction: column;
  flex: 1;

  h3 {
    text-align: center;
    margin: 0;
    font-size: 1.25rem;
    font-weight: 600;
    color: #ffffff;
    background-color: #42455d;
  }

  #site-map {
    flex: 1; /* Ocupa todo el espacio restante */
    width: 100%;
    height: 100%;
    position: relative; /* Para colocar elementos flotantes dentro */
  }

  @media screen and (max-width: 768px) {
    margin-left: 0; /* Quita el sidebar en pantallas pequeñas */
    height: 100%;  /* Ajusta la altura */

    h3 {
      height: auto;
      padding: 0.5rem;
      font-size: 1rem;
    }

    #site-map {
      height: calc(100vh - var(--header-height)); /* Ajusta el mapa para pantallas pequeñas */
    }

  }
}