<div th:fragment="sidebar">
    <div id="logo-container" class="logo-container">
        <img id="logo" class="logo" th:src="@{/img/logo-sin-nombre.png}" alt="Logo" />
    </div>

    <nav class="menu">
        <a class="menu-item">Inicio</a>
        <details class="menu-group">
            <summary class="menu-item">Dotación</summary>
            <div class="submenu">
                <a class="submenu-item" href="#"
                    data-path="">Ver personal</a>
                <a class="submenu-item" href="#"
                    data-path="">Prospectos</a>
            </div>
        </details>
        <details class="menu-group">
            <summary class="menu-item">Indicadores</summary>
            <div class="submenu">

                <a class="submenu-item" href="#"
                    data-path="">Rondas de vigilancia</a>
                <a class="submenu-item">-</a>

                <a class="submenu-item" href="#"
                    data-path="/private/mp-licitations">Cobertura de Servicios</a>
                <a class="submenu-item">-</a>

            </div>
        </details>
        <a class="menu-item" href="#"
                    data-path="/public/home">GSCorp</a>
    </nav>
    <button class="toggle-sidebar" id="toggleSidebar">☰</button>
</div>

<div th:fragment="topbar">
    <h1 class="title">Clientes</h1>
    <div class="user-actions">
        <span class="user-name">Cliente</span>
        <a class="logout-btn">Cerrar sesión</a>
    </div>
</div>