<div th:replace="~{shared/fragments/table-component :: smart-table(
    title='Gestión de Sitios',
    count=${sitesCount},
    filters=~{::#siteFilters},
    actions=~{::#siteActions},
    thead=~{::#siteHeader},
    tbody=~{private/sites/fragments/site-table-rows :: rows}
)}">

    <th:block id="siteFilters">
        <label class="filter-item">
        <span class="filter-label">Sitios</span>

        <select id="filter-dept" class="filter-input">
            <option value="">Todos</option>
            <option value="HR">Sitio 1</option>
            <option value="OPS">Sitio 2</option>
        </select>
        </label>

        <label class="filter-item">
        <span class="filter-label">Nombre</span>
        <input id="filter-name" class="filter-input" type="text" placeholder="Buscar empleado..."/>
        </label>
    </th:block>

    <th:block id="siteActions">
        <button class="btn btn-secondary" id="exportCsv">
        Exportar CSV
        </button>
        
        <button class="btn btn-primary" id="addEmployeeBtn">
        Nuevo Sitio
        </button>
    </th:block>

    <tr id="siteHeader">
        <th>ID</th>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Proyecto</th>
        <th>Zona horaria</th>
        <th>Estado</th>
        <th>acciones</th>
    </tr>

    <script type="module" src="/js/private/sites/sites-table.js"></script>
    <script type="module" src="/js/private/sites/create-site.js"></script>

</div>