    <div th:replace="~{shared/fragments/table-component :: smart-table(
        title='Gestión de Empleados',
        count=${count},
        filters=~{::#employeesFilters},
        actions=~{::#employeesActions},
        thead=~{::#employeesHeader},
        tbody=~{private/employees/fragments/employees-table-rows :: rows},
        customClass='employees-table'
    )}">

        <th:block id="employeesFilters">
            <div class="filter-item">
                <span class="filter-label">Estado empleado</span>
                <select id="filter-employee-status" class="filter-input" name="status">
                    <option value="">Todos los estados</option>
                    <option th:each="es : ${statuses}"
                            th:value="${es}"
                            th:text="${es.displayName}"
                            th:selected="${es == currentStatus}"></option>
                </select>
            </div>

            <div class="filter-item">
                <span class="filter-label">Estado usuario</span>
                <select id="filter-employee-user-status" class="filter-input" name="user-status">
                    <option value="">Todos los estados</option>
                    <option th:each="ues : ${userStatuses}"
                            th:value="${ues}"
                            th:text="${ues.displayName}"
                            th:selected="${ues == currentUserStatus}"></option>
                </select>
            </div>

            <div class="filter-item">
                <span class="filter-label">Busqueda</span>
                <input id="filter-q" class="filter-input" type="text" name="q"
                            th:value="${q}" placeholder="nombre, rut, mail, o telefono..."/>
            </div>

            <div class="filter-item item-action">
                <button class="btn btn-primary" id="searchEmployeesBtn">
                Buscar
                </button>
            </div>

        </th:block>

        <th:block id="employeesActions">
            <button class="btn btn-primary" id="addEmployeesBtn"
                th:if="${#authorization.expression('hasRole(''ADMINISTRATOR'') or hasRole(''RRHH'')')}">
            Crear Empleado
            </button>
        </th:block>

        <tr id="employeesHeader">
            <th>Foto</th>
            <th>Nombre</th>
            <th>Cargo</th>
            <th>Telefono</th>
            <th>Estado</th>
            <th>Estado Usuario</th>
            <th>Actions</th>
        </tr>

    </div>

    <script type="module" src="/js/private/employees/employees-table.js"></script>