@use '../base/mixins' as *;
@use '../base/variables' as *;
@use '../base/palette' as *;
@use '../base/typography' as *;

.hs-form{

    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4x 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .patrol-form-header {
        background-color: #ffffff;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom: 1px solid #e9ecef;
        padding: 2.5px 0;
        letter-spacing: 1px;
        text-align: center;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 4px;
            background: linear-gradient(90deg, #4e54c8, #8f94fb);
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
        }
    }

    .patrol-form-body{
        display: grid; //diseño oredenado y adaptable
        gap: 15px; //espaciado entre filas
        background: #ffffff;
        padding: 25px;

        .form-group{
            display: flex;
            flex-direction: column;
            gap: 8px;
            
            label {
                @include roboto-font(0.875rem, 500);
                color: $cool-gray-700;
            }

            input,
            select,
            textarea {
                padding: 10px;
                border: 1px solid #ced4da;
                border-radius: 8px;
                @include roboto-font(0.875rem, 500);
                color: $cool-gray-800;
                transition: border-color 0.2s, box-shadow 0.2s;

                &::placeholder {
                    color: #adb5bd;
                }

                &:focus {
                    border-color: #4e54c8;
                    box-shadow: 0 0 0 3px rgba(78, 84, 200, 0.2);
                    outline: none;
                }
            }

            textarea {
                resize: vertical;
                @include roboto-font(0.875rem, 400);
                color: $cool-gray-800;
                min-height: 50px;
            }
        }

        .day-range {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px;

            .form-group {
                flex: none;
            }

            .input-with-icon {
                display: flex;
                flex-direction: column;
                gap: 5px;

                .input-icon-wrap {
                    position: relative;
                    display: flex;
                    align-items: center;
                    
                    input{
                        flex: 1;
                    }

                    .icon-btn {
                        position: absolute;
                        right: 8px;
                        background: transparent;
                        border: none;
                        cursor: pointer;

                        svg {
                            width: 16px;
                            height: 16px;
                            fill: $accent-blue;
                            transition: color 0.2s ease;

                            &:hover {
                                fill: $accent-blue;
                            }
                        }
                    } 
                }
            }
        }
        

    }

    .patrol-form-footer {
        display: flex;
        justify-content: flex-end;
        gap: 15px;
        padding: 15px;
        background: #f8f9fa;
        border-top: 1px solid #e9ecef;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;

        .btn {
            padding: 10px 18px;
            font-size: 1rem;
            font-weight: bold;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: all 0.2s ease;
        }

        &.btn-primary {
            background: #4e54c8;
            color: #ffffff;
            &:hover {
                background: #3d4188;
                transform: translateY(-2px);
            }
            &:active {
                background: #2c2e66;
                transform: translateY(1px);
            }
        }

        &.btn-secondary {
            background: #e9ecef; // Fondo más discreto para cancelar
            color: #495057; // Gris oscuro para texto
            &:hover {
                background: #d6d8db; // Fondo oscurecido en hover
                transform: translateY(-2px);
            }
            &:active {
                background: #babec2; // Más oscuro aún al hacer clic
                transform: translateY(1px);
            }
        }

    }

}

