<div class="hs-footer-actions"
        th:fragment = "footer-buttons(
                        showSubmit=false, submitText='Guardar',
                        showCancel=false, cancelText='Cancelar',
                        showDelete=false, deleteText='Eliminar')">

        <button th:if="${sSubmit}" type="submit" class="btn btn-primary" 
                th:text="${sText}">
        </button>

        <button th:if="${sCancel}" type="button" class="btn btn-secondary"
                th:text="${cText}">
        </button>

        <button th:if="${sDelete}" type="button" class="btn btn-danger" 
                th:text="${dText}">
        </button>

</div>