<div th:fragment="sidebar">
    <div id="logo-container" class="logo-container">
        <img id="logo" class="logo" th:src="@{/img/logo-sin-nombre.png}" alt="Logo" />
    </div>

    <nav class="menu">
        <a class="menu-item">Administración</a>
        <details class="menu-group">
            <summary class="menu-item">Usuarios y Roles</summary>
            <div class="submenu">
                <a class="submenu-item" href="#"
                    data-path="/private/admin/users">Usuarios</a>
                <a class="submenu-item" href="#"
                    data-path="/private/admin/roles">Roles</a>
            </div>
        </details>
        <details class="menu-group">
            <summary class="menu-item">Información</summary>
            <div class="submenu">

                <a class="submenu-item" href="#"
                    data-path="/private/admin/contacts">Contactos</a>

                <a class="submenu-item" href="#"
                    data-path="/private/admin/mp-licitations">Licitaciones MP</a>

                <a class="submenu-item" href="#"
                    data-path="/private/attendance">Control de asistencia</a>

            </div>
        </details>
        <a class="menu-item" href="#"
                    data-path="/public/home">GSCorp</a>
    </nav>
    <button class="toggle-sidebar" id="toggleSidebar">☰</button>
</div>

<div th:fragment="topbar">
    <h1 class="title">Administración</h1>
    <div class="user-actions">
        <span class="user-name">admin</span>
        <a class="logout-btn">Cerrar sesión</a>
    </div>
</div>