<div th:fragment="rolesTable">

    <div class="roles-header">
        <h2>Roles</h2>
        <button class="btn-primary" data-path="/private/admin/roles/create" id="createRoleBtn">Crear Rol</button>
    </div>

    <div class="role-table-container">
        <table class="roles-table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="role : ${roles}">
                    <td th:text="${role.id}"></td>
                    <td th:text="${role.role}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script type="module" src="/js/private/create-role.js"></script>

</div>
