<div th:fragment="sidebar">
    <div id="logo-container" class="logo-container">
        <img id="logo" class="logo" th:src="@{/img/Logo_sin_fondo.png}" alt="Logo" />
    </div>

    <nav class="menu">
        <a class="menu-item"
                data-path="/private/employees/dashboard">Operaciones</a>

        <details class="menu-group">
            <summary class="menu-item">Operaciones</summary>
            <div class="submenu">
                <a class="submenu-item" href="#"
                    data-path="">Control de Acceso</a>
                <a class="submenu-item" href="#"
                    data-path="">Registro de Vehiculos</a>
                <a class="submenu-item" href="#"
                    data-path="">Control de Rondas</a>
            </div>
        </details>
        <details class="menu-group">
            <summary class="menu-item">Administración</summary>
            <div class="submenu">
                <a class="submenu-item" href="#"
                    data-path="">Solicitudes RRHH</a>
                <a class="submenu-item" href="#"
                    data-path="">Mi historial</a>
                <a class="submenu-item" href="#"
                    data-path="">Mis horarios</a>
                <a class="submenu-item" href="#"
                    data-path="">Documentos</a>
            </div>
        </details>
        <a class="menu-item" href="#"
                    data-path="/public/home">SESAN</a>
    </nav>
    <button class="toggle-sidebar" id="toggleSidebar">☰</button>
</div>

<div th:fragment="topbar">
    <h1 class="title">Operaciones</h1>
    <div class="user-actions">
        <span class="user-name">operaciones</span>
        <a class="logout-btn">Cerrar sesión</a>
    </div>
</div>