<div class="create-employee-transition-request">

    <div class="hs-form-header">
        <h3>Crear solicitud de desvinculación</h3>
    </div>

    <div class="body">
        <div class="form-group">
                    <label>Empleado:</label>
                    <input id="employee" required />
        </div>

        <div class="form-row w-custom">
            <div class="form-group col-70">
                <label>Causa de termino:</label>
                <select id="terminationReason" required>
                    <option value="">Seleccione causa de termino</option>
                    <option th:each="tr : ${terminationReasons}"
                            th:value="${tr.name()}"
                            th:text="${tr.displayName}"></option>
                </select>
            </div>

            <div class="form-group col-30">
                <label>Fecha propuesta:</label>
                <input id="proposedExitDate" required />
            </div>
        </div>

        <div class="form-group">
            <label>Descripción:</label>
            <textarea id="description"></textarea>
        </div>

        <div class="form-group">
            <input id="attachFile"/>
        </div>
    </div>

    <div th:replace="~{shared/fragments/form-alerts :: form-alerts}"></div>
    <div th:replace="~{shared/fragments/footer-buttons ::
                            footer-buttons(
                                true, 'Crear solicitud',
                                true, 'Cancelar',
                                false, '')}"></div>

    <script type="module" src="/js/private/hr/employee-transitions/create-termination-request.js"></script>
</div>