<div th:fragment="clean">

    <div class="clean-image">
        <img th:src="@{/img/clean/clean-home.jpg}">
    </div>

    <section class="text-container-big">
        <div class="container">
            <h1>Servicios de Aseo y Mantención</h1>
            <p class="p3">Tu espacio limpio, seguro y sostenible.</p>
        </div>
    </section>

    <section class="text-image-right">
        <div class="container">
            <div class="text-content">
                <p class="p2">En GS Clean, transformamos limpieza en bienestar.</p>
                <p class="p2">Nuestros servicios de limpieza están diseñados para crear
                espacios seguros, saludables y productivos, donde las personas
                puedan desarrollarse con tranquilidad.</p>
                <p class="p2">Sabemos que cada cliente es único. Por eso, trabajamos
                contigo para ofrecer soluciones personalizadas, identificando
                las áreas clave para prevenir la propagación de infecciones y
                garantizar una higiene de alto nivel.
                </p>
            </div>
            <div class="image-content">
                <img th:src="@{/img/clean/clean-services.webp}">
            </div>
        </div>
    </section>

    <section class="text-container-medium">
      <h2>Descubre nuestras soluciones</h2>
    </section>

    <!--columnas de servicios de seguridad--> 
    <section class="servicios-aseo">
        <div class="column">
            <div class="media">
                <img th:src="@{/img/clean/clean.webp}">
            </div>
            <h4>Limpieza de oficinas y edificios</h4>
            <p>Garantizamos espacios limpios, higiénicos y agradables 
                mediante servicios de limpieza profesional para oficinas
                y edificios corporativos.</p>
            <p>Nuestro equipo capacitado utiliza productos y técnicas de
                última generación para mantener cada área en óptimas
                condiciones, reforzando la imagen institucional y el
                bienestar de los colaboradores.</p>
        </div>

        <div class="column">
            <div class="media">
                <img th:src="@{/img/clean/mantencion.jpg}">
            </div>
            <h4>Mantención de oficinas</h4>
            <p>Ofrecemos soluciones integrales de mantención
                preventiva y correctiva para oficinas, asegurando el
                funcionamiento continuo de instalaciones eléctricas,
                sanitarias y estructurales.</p>
            <p>Nuestro objetivo es conservar espacios de trabajo seguros,
                operativos y alineados con los más altos estándares de
                eficiencia y calidad.</p>
        </div>

        <div class="column">
            <div class="media">
                <img th:src="@{/img/clean/industrial clean.jpg}">
            </div>
            <h4>Limpieza Industrial</h4>
            <p>Brindamos servicios especializados de aseo industrial
                adaptados a las exigencias de plantas, centros logísticos
                y espacios de alta demanda operativa</p>
            <p>Aplicamos protocolos rigurosos, maquinaria especializada y
                personal calificado para mantener ambientes productivos
                limpios, seguros y en conformidad con las normativas vigentes.</p>
        </div>
    </section>

</div>