<div th:fragment="commerce">

    <div class="commerce-image">
        <img th:src="@{/img/commerce/commerce.jpg}">
    </div>

    <section class="text-container-big">
        <div class="container">
            <h1>Servicios de comercialización</h1>
            <p class="p3"></p>
        </div>
    </section>

    <section class="text-image-right">
        <div class="container">
            <div class="text-content">
                <p class="p2">En GSCorp, entendemos que cada empresa necesita enfocarse
                    en lo que mejor sabe hacer. Por eso, ofrecemos servicios de
                    outsourcing flexibles y especializados, diseñados para apoyar tus
                    operaciones en áreas clave.</p>
                <p class="p2">Contamos con un equipo altamente capacitado que se integra
                    a tu estructura organizacional, aportando eficiencia, calidad y
                    compromiso. Nuestra experiencia multisectorial nos permite adaptarnos
                    a distintos entornos y requerimientos, brindando soluciones a medida
                    que optimizan procesos y reducen costos operativos.
                </p>
            </div>
            <div class="image-content">
                <img th:src="@{/img/commerce/servicios-transitorios.jpg}">
            </div>
        </div>
    </section>

    <section class="text-container-medium">
      <h2>Descubre nuestras soluciones</h2>
    </section>

    <!--columnas de servicios commerce--> 
    <section class="servicios-commerce">
        <div class="column">
            <div class="media">
                <img th:src="@{/img/commerce/.jpg}">
            </div>
            <h4>Comercialización B2B</h4>
            <p>Catálogo de productos para empresa, precios netos,
                contratos marco y niveles de servicio (SLAs).</p>
        </div>

        <div class="column">
            <div class="media">
                <img th:src="@{/img/commerce/compras.jpg}">
            </div>
            <h4>Gestión de compras</h4>
            <p>Búsqueda y evaluación de proveedores, cotizaciones comparativas,
                negociación y homologación.</p>
        </div>

        <div class="column">
            <div class="media">
                <img th:src="@{/img/commerce/comex.jpg}">
            </div>
            <h4>Gestión de importaciones</h4>
            <p>Sourcing internacional, Incoterms, coordinación
                naviera/aérea, seguros y aduana.</p>
            <p>Gestionamos equipamiento, repuestos y productos sin oferta
                local competitiva.</p>
        </div>
    </section>

</div>