    <footer th:fragment="footer" class="corporate-footer">
      <div class="footer-container">
        <div class="footer-section company-info">
          <h2>GSCorp</h2>
          <p>
            Soluciones empresariales integrales. Enfocados en innovación, sostenibilidad y excelencia.
          </p>
        </div>

        <div class="footer-section links">
          <h3>Enlaces</h3>
          <ul>
            <li><a th:href="@{/}">Inicio</a></li>
            <li><a href="#"
                    data-path="/public/us">Nosotros</a></li>
            <li><a href="#"
                    data-path="/public/sustainability">Sostenibilidad</a></li>
            <li><a href="#"
                    data-path="/public/services">Servicios</a></li>
            <li><a href="#"
                    data-path="/public/contact">Contacto</a></li>
            <li><a >Acceso</a></li>
          </ul>
        </div>

        <div class="footer-section contact">
          <h3>Contacto</h3>
          <p><i class="fas fa-envelope"></i> contacto@gscorp.cl</p>
          <p><i class="fas fa-phone"></i> +56 9 4446 6995 | +56 9 7346 9756</p>
          <p><i class="fas fa-map-marker-alt"></i> Santiago, Chile</p>
        </div>

        <div class="footer-section social">
          <h3>Síguenos</h3>
          <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com/company/gscorp-cl/">
                    <i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>

      <div class="footer-bottom">
        <p>&copy; 2025 GSCorp. Todos los derechos reservados.</p>
      </div>
    </footer>
