<div th:fragment="organization">

    <div class="organization-image">
        <img th:src="@{/img/organization/organization.jpg}">
    </div>

    <section class="text-container-big">
        <div class="container">
            <h1>Nuestra organización</h1>
            <p class="p3">Contamos con presencia en todo el pais,
                ofreciendo soluciones integrales de servicios generales a empresas,
                instituciones públicas y privadas, desde Arica hasta Punta Arenas.
                Nuestra estructura organizacional nos permite responder con eficiencia
                y cercanía a las necesidades locales, manteniendo al mismo tiempo
                estándares de calidad homogéneos en cada región del país.</p>
        </div>
    </section>

    <hr>



    <hr>

    <!-- Texto + Imagen -->
    <section class="ethics-code">
            <div class="container">
                <div class="text-content">
                    <h2>Código de Valores y Ética Corporativa</h2>
                    <p class="p1">En GSCorp, creemos firmemente en la ética,
                        la integridad y el compromiso con las buenas prácticas.
                        Nos esforzamos por ser una organización responsable, confiable
                        y coherente en todas nuestras áreas de operación.</p>
                    <p class="p1">Este Código de Valores y Ética representa uno de los pilares
                        fundamentales de nuestra cultura corporativa y establece los
                        principios que guían nuestro comportamiento, tanto individual
                        como colectivo, en la relación con nuestros clientes,
                        colaboradores, socios estratégicos y la sociedad en general.</p>
                </div>
                <div class="image-content">
                    <img th:src="@{/img/values/ethics.jpg}" alt="Innovación empresarial">
                </div>
            </div>
    </section>

    <hr>

</div>