<div th:fragment="security">

    <div class="security-image">
        <img th:src="@{/img/security/aeropuerto.jpg}">
    </div>

    <section class="text-container-big">
        <div class="container">
            <h1>Servicios de Seguridad</h1>
            <p class="p3">¿Estás buscando una solución de seguridad a tu medida?</p>
        </div>
    </section>

    <section class="text-image-right">
        <div class="container">
            <div class="text-content">
                <p class="p2">Diseñamos la solución a medida para cada cliente,
                    combinando distintos servicios con el objetivo de lograr
                    la máxima eficiencia de todos los recursos y el ahorro de
                    costos.</p>
                <p class="p2">Actualizamos periódicamente el análisis de riesgos para
                    evolucionar la solución en función de los resultados,
                    obteniendo máxima eficiencia de todos los recursos y
                    disminución de los costos.
                </p>
            </div>
            <div class="image-content">
                <img th:src="@{/img/security/security-dog.jpg}">
            </div>
        </div>
    </section>

    <section class="text-container-medium">
      <h2>Descubre nuestras soluciones</h2>
    </section>

    <!--columnas de servicios de seguridad--> 
    <section class="servicios-seguridad">
        <div class="column">
            <div class="media">
                <img th:src="@{/img/security/security.jpg}">
            </div>
            <h4>Vigilancia presencial</h4>
            <p>Nuestros Guardias de Seguridad son el eje central de
                nuestras soluciones de seguridad.</p>
            <p>Apostamos por la formación y especialización y proporcionamos
                herramientas digitales que aumentan la eficacia y la
                transparencia de los servicios.
            </p>
        </div>

        <div class="column">
            <div class="media">
                <img th:src="@{/img/security/patrol.jpg}">
            </div>
            <h4>Vigilancia Móvil</h4>
            <p>Protegemos las instalaciones cuando no existen
                moradores, con servicios de seguridad eficientes que
                funcionan en combinación o individualmente.</p>
            <p>Nuestro servicio de vigilancia se combina con
                tecnología de punta en soluciones de seguridad
                personalizada.</p>
        </div>

        <div class="column">
            <div class="media">
                <img th:src="@{/img/security/camara.jpg}">
            </div>
            <h4>Vigilancia remota</h4>
            <p>Combinamos tecnología de vanguardia con vigilantes altamente
                especializados para gestionar operaciones de seguridad
                de forma distante desde nuestra Central de Operaciones
                de Seguridad.</p>
            <p>Esto nos permite lograr una máxima operatividad las 24
                horas del día, con gran flexibilidad y un importante
                ahorro de costos.</p>
        </div>
    </section>

</div>