<div th:fragment="slideshow-video">
    <div class="slideshow-video-container">

        <div class="slide video-slide active">
              <video autoplay muted loop playsinline preload="auto">
                <source th:src="@{/videos/sanhattan_dia-720p.mp4}" type="video/mp4">
              </video>
              <div class="slide-texts">
                <h1 class="text-fade delay-1">Todas las soluciones en un solo lugar</h1>                
                <h3 class="text-fade delay-2">Seguridad privada</h3>
                <h3 class="text-fade delay-3">Aseo y Mantención</h3>
                <h3 class="text-fade delay-4">Outsourcing</h3>
                <h3 class="text-fade delay-5">Commerce</h3>
              </div>
        </div>

        <div class="slide video-slide">
              <video autoplay muted loop playsinline preload="auto">
                <source th:src="@{/videos/security.mp4}" type="video/mp4">
              </video>
              <div class="slide-texts">
                <h1 class="text-fade delay-1">Soluciones de seguridad</h1>                
                <h3 class="text-fade delay-2">Seguridad presencial</h3>
                <h3 class="text-fade delay-3">Seguridad movil</h3>
                <h3 class="text-fade delay-4">Seguridad remota</h3>
              </div>
        </div>

        <div class="slide video-slide">
              <video autoplay muted loop playsinline preload="auto">
                <source th:src="@{/videos/clean.mp4}" type="video/mp4">
              </video>
              <div class="slide-texts">
                <h1 class="text-fade delay-1">Limpieza y mantención profesional</h1>                
                <h3 class="text-fade delay-2">Aseo de Oficinas</h3>
                <h3 class="text-fade delay-3">Aseo de bodegas</h3>
                <h3 class="text-fade delay-4">Mantención de instalaciones</h3>
              </div>
        </div>

        <div class="slide video-slide">
              <video autoplay muted loop playsinline preload="auto">
                <source th:src="@{/videos/outsourcing.mp4}" type="video/mp4">
              </video>
              <div class="slide-texts">
                <h1 class="text-fade delay-1">Servicios externos</h1>                
                <h3 class="text-fade delay-2">Servicios transitorios</h3>
                <h3 class="text-fade delay-3">Seguridad en eventos</h3>
                <h3 class="text-fade delay-4">Servicios especiales</h3>
              </div>

        </div>

        <div class="slide video-slide">
              <video autoplay muted loop playsinline preload="auto">
                <source th:src="@{/videos/business.mp4}" type="video/mp4">
              </video>
              <div class="slide-texts">
                <h1 class="text-fade delay-1">Gestión de productos</h1>                
                <h3 class="text-fade delay-2">Adquisición y suministro</h3>
                <h3 class="text-fade delay-3">Marketing y ventas</h3>
                <h3 class="text-fade delay-4">Servicios especiales</h3>
              </div>

        </div>

        <button class="nav prev">&#10094;</button>
        <button class="nav next">&#10095;</button>

        <div class="dots">
            <span class="dot active"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </div>
</div>
